{% extends "main/index.html" %}

{% block content %}

<header class="row header">
  <hgroup class="page-titles">
    <h1 class="main-title">Players</h1>
  </hgroup>
  <form action="." class="form-filters" method="GET">
    {{ team_menu }}
    {{ position_menu }}
    {{ status_menu }}
    <input class="search-players" name="lookup" type="text" placeholder="Name (case sensitive)"/>
    <button class="button code" type="submit">Search</button>
  </form>
</header>

<div class="playersearch-container">
{% if status_select == None or status_select == "Active" %}
  {% for name, p in queries_names %}
      <div class="playersearch-box">
        <h5>{{ name }}</h5>
        <div class="info-box">
          <div class="search-pos-team">
            <p class="playersearch-pos">{{ p.position }}</p>
            <a class="team-search-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a>
          </div>
          {% if p.position == "QB" %}
            <div class="search-stats">
              <p>{{ p.yards }} YDS</p><p>{{ p.td }} TD</p><p>{{ p.ints }} INT</p>
            </div>
          {% elif p.position == "RB" %}
            <div class="search-stats">
              <p>{{ p.yards }} YDS</p><p>{{ p.att }} ATT</p> <p>{{ p.td }} TD</p>
            </div>
          {% elif p.position == "FB" %}
            <div class="search-stats">
              <p>{{ p.yards }} YDS</p><p>{{ p.att }} ATT</p> <p>{{ p.td }} TD</p>
            </div>
          {% elif p.position == "WR" %}
            <div class="search-stats">
              <p>{{ p.yards }} YDS</p><p>{{ p.rec }} REC</p> <p>{{ p.td }} TD</p>
            </div>
          {% elif p.position == "TE" %}
            <div class="search-stats">
              <p>{{ p.yards }} YDS</p><p>{{ p.rec }} REC</p> <p>{{ p.td }} TD</p>
            </div>
          {% elif p.position == "NT" %}
            <div class="search-stats">
              <p>{{ p.sck }} SCK</p><p>{{ p.total_tkl }} TKL</p> <p>{{ p.solo_tkl }} SOLO</p>
            </div>
          {% elif p.position == "DT" %}
            <div class="search-stats">
              <p>{{ p.sck }} SCK</p><p>{{ p.total_tkl }} TKL</p> <p>{{ p.solo_tkl }} SOLO</p>
            </div>
          {% elif p.position == "DE" %}
            <div class="search-stats">
              <p>{{ p.sck }} SCK</p><p>{{ p.total_tkl }} TKL</p> <p>{{ p.solo_tkl }} SOLO</p>
            </div>
          {% elif p.position == "OLB" %}
            <div class="search-stats">
              <p>{{ p.total_tkl }} TKL</p><p>{{ p.solo_tkl }} SOLO</p> <p>{{ p.sck }} SCK</p>
            </div>
          {% elif p.position == "ILB" %}
            <div class="search-stats">
              <p>{{ p.total_tkl }} TKL</p><p>{{ p.solo_tkl }} SOLO</p> <p>{{ p.sck }} SCK</p>
            </div>
          {% elif p.position == "MLB" %}
            <div class="search-stats">
              <p>{{ p.total_tkl }} TKL</p><p>{{ p.solo_tkl }} SOLO</p> <p>{{ p.sck }} SCK</p>
            </div>
          {% elif p.position == "LB" %}
            <div class="search-stats">
              <p>{{ p.total_tkl }} TKL</p><p>{{ p.solo_tkl }} SOLO</p> <p>{{ p.sck }} SCK</p>
            </div>
          {% elif p.position == "CB" %}
            <div class="search-stats">
              <p>{{ p.ints }} INT</p><p>{{ p.pass_def }} PDEF</p> <p>{{ p.total_tkl }} TCK</p>
            </div>
          {% elif p.position == "DB" %}
            <div class="search-stats">
              <p>{{ p.ints }} INT</p><p>{{ p.pass_def }} PDEF</p> <p>{{ p.total_tkl }} TCK</p>
            </div>
          {% elif p.position == "FS" %}
            <div class="search-stats">
              <p>{{ p.ints }} INT</p><p>{{ p.pass_def }} PDEF</p> <p>{{ p.total_tkl }} TCK</p>
            </div>
          {% elif p.position == "SS" %}
            <div class="search-stats">
              <p>{{ p.ints }} INT</p><p>{{ p.pass_def }} PDEF</p> <p>{{ p.total_tkl }} TCK</p>
            </div>
          {% elif p.position == "K" %}
            <div class="search-stats">
              <p>{{ p.fg }} FG</p><p>{{ p.fg_att }} ATT</p> <p>{{ p.fg_perc }} PCT</p>
            </div>
          {% elif p.position == "P" %}
            <div class="search-stats">
              <p>{{ p.p_yards }} YDS</p><p>{{ p.punts }} P</p> <p>{{ p.p_avg }} AVG</p>
            </div>
          {% endif %}
          <a class="view-profile-link" href="/profile/?player={{ p.player_id }}">View Profile</a>
        </div>
      </div>
  {% endfor %}

{% elif status_select == "Retired" %}
  {% for name, p in queries_names %}
  <div class="playersearch-box">
    <h5>{{ name }}</h5>
    <div class="info-box">
      <div class="retired-search">
        <p class="exp">Experience:</p><p>{{ p.experience }}</p>
      </div>
      <a class="view-profile-link" href="/retiredprofile/?player={{ p.player_id }}">View Profile</a>
    </div>
  </div>
  {% endfor %}
{% endif %}
</div>


<footer class="pagination">
  <span class="step-links">
    <span class="current">
      {% for pc in pagecount %}
        {% if queries.paginator.num_pages == 1 %}
          <!-- -->
        {% else %}
          {% if pc == queries.number %}
            <span class="current-page">
              {{ queries.number }}
            </span>
          {% else %}
            {% if team_select == None and position_select == None and lookup == None and status_select == None %}
              <a class="other-pages" href="?team=All+NFL&position=All&status=Active&lookup=&page={{ pc }}">
                {{ pc }}
              </a>
            {% elif lookup != "" %}
              <a class="other-pages" href="?team=All+NFL&position=All&status={{ status_select }}&lookup={{ lookup }}&page={{ pc }}">
                {{ pc }}
              </a>
            {% elif team_select == "All NFL" and position_select == "All" and lookup == "" %}
              <a class="other-pages" href="?team=All+NFL&position=All&status={{ status_select }}&lookup=&page={{ pc }}">
                {{ pc }}
              </a>
            {% elif team_select == "All NFL" and position_select != "All" and lookup == "" %}
              <a class="other-pages" href="?team=All+NFL&position={{ position_select }}&status={{ status_select }}&lookup=&page={{ pc }}">
                {{ pc }}
              </a>
            {% elif team_select != "All NFL" and position_select != "All" and lookup == "" %}
              <a class="other-pages" href="?team={{ team_select }}&position={{ position_select }}&status={{ status_select }}&lookup=&page={{ pc }}">
                {{ pc }}
              </a>
            {% elif team_select != "All NFL" and position_select == "All" and lookup == "" %}
              <a class="other-pages" href="?team={{ team_select }}&position=All&status={{ status_select }}&lookup=&page={{ pc }}">
                {{ pc }}
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </span>
  </span>
</footer>
{% endblock %}
