{% extends "main/index.html" %}

{% block content %}
<header class="row header">
  <hgroup class="page-titles">
    <h1 class="main-title">Season Stats</h1>
  </hgroup>
  <form action="." class="form-filters" method="GET">
    {{ team_menu }}
    {{ category_menu }}
    {{ year_menu }}
    {{ status_menu }}
    <button class="button code" type="submit">Search</button>
  </form>
</header>

{% if category == None %}
<div class="season-stats-table-container">
    <div class="season-stats-titles">
      <h1>Passing</h1>
    </div>
    <table class="season-stats-table" border="0">
      <thead class="season-stats-head">
        <tr>
          <th>RK</th><th>Player</th><th>Team</th><th>Pos</th><th>Comp</th><th>Att</th><th>Pct</th><th>Att/G</th>
          <th>Yds</th><th>Avg</th><th>Yds/G</th><th>TD</th><th>INT</th><th>Lng</th><th>20+</th><th>40+</th><th>Sck</th>
          <th>Rate</th>
        </tr>
      </thead>
      <tbody class="season-stats-body">
      {% for name, rank, query in rank_players %}
        {% for p in query %}
        <tr>
          <td>{{ rank }}</td>
          {% if p.team_short == None %}
            <td><a class="player-link" href="/retiredprofile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% else %}
            <td><a class="player-link" href="/profile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% endif %}
          {% if p.team_short == "SD" %}
            <td><a class="team-link" href="/teams/LAC">{{ p.team_short }}</a></td>
          {% elif p.team_short == "STL" %}
            <td><a class="team-link" href="/teams/LA">{{ p.team_short }}</a></td>
          {% elif p.team_short == None %}
            <td>Retired</td>
          {% else %}
            <td><a class="team-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a></td>
          {% endif %}
          {% if p.position == None %}
            <td>--</td>
          {% else %}
            <td>{{ p.position }}</td>
          {% endif %}
          <td>{{ p.comp }}</td>
          <td>{{ p.att }}</td>
          <td>{{ p.comp_pct }}</td>
          <td>{{ p.att_g }}</td>
          <td>{{ p.yards }}</td>
          <td>{{ p.yards_att }}</td>
          <td>{{ p.yards_g }}</td>
          <td>{{ p.td }}</td>
          <td>{{ p.ints }}</td>
          <td>{{ p.lng }}</td>
          <td>{{ p.comp_twenty_plus }}</td>
          <td>{{ p.comp_forty_plus }}</td>
          <td>{{ p.sck }}</td>
          <td>{{ p.rating }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
</div>

{% elif category == "Passing" %}
<div class="season-stats-table-container">
    <div class="season-stats-titles">
      <h1>Passing</h1>
    </div>
    <table class="season-stats-table" border="0">
      <thead class="season-stats-head">
        <tr>
          <th>RK</th><th>Player</th><th>Team</th><th>Pos</th><th>Comp</th><th>Att</th><th>Pct</th><th>Att/G</th>
          <th>Yds</th><th>Avg</th><th>Yds/G</th><th>TD</th><th>INT</th><th>Lng</th><th>20+</th><th>40+</th><th>Sck</th>
          <th>Rate</th>
        </tr>
      </thead>
      <tbody class="season-stats-body">
      {% for name, rank, query in rank_players %}
        {% for p in query %}
        <tr>
          <td>{{ rank }}</td>
          {% if p.team_short == None %}
            <td><a class="player-link" href="/retiredprofile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% else %}
            <td><a class="player-link" href="/profile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% endif %}
          {% if p.team_short == "SD" %}
            <td><a class="team-link" href="/teams/LAC">{{ p.team_short }}</a></td>
          {% elif p.team_short == "STL" %}
            <td><a class="team-link" href="/teams/LA">{{ p.team_short }}</a></td>
          {% elif p.team_short == None %}
            <td>Retired</td>
          {% else %}
            <td><a class="team-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a></td>
          {% endif %}
          {% if p.position == None %}
            <td>--</td>
          {% else %}
            <td>{{ p.position }}</td>
          {% endif %}
          <td>{{ p.comp }}</td>
          <td>{{ p.att }}</td>
          <td>{{ p.comp_pct }}</td>
          <td>{{ p.att_g }}</td>
          <td>{{ p.yards }}</td>
          <td>{{ p.yards_att }}</td>
          <td>{{ p.yards_g }}</td>
          <td>{{ p.td }}</td>
          <td>{{ p.ints }}</td>
          <td>{{ p.lng }}</td>
          <td>{{ p.comp_twenty_plus }}</td>
          <td>{{ p.comp_forty_plus }}</td>
          <td>{{ p.sck }}</td>
          <td>{{ p.rating }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
</div>

{% elif category == "Rushing" %}
  <div class="season-stats-table-container">
    <div class="season-stats-titles">
      <h1>Rushing</h1>
    </div>
    <table class="season-stats-table" border="0">
      <thead class="season-stats-head">
        <tr>
          <th>RK</th><th>Player</th><th>Team</th><th>Pos</th><th>Att</th><th>Att/G</th><th>Yds</th>
          <th>Avg</th><th>Yds/G</th><th>TD</th><th>Lng</th><th>1st</th><th>20+</th><th>40+</th><th>FUM</th>
        </tr>
      </thead>
      <tbody class="season-stats-body">
      {% for name, rank, query in rank_players %}
        {% for p in query %}
        <tr>
          <td>{{ rank }}</td>
          {% if p.team_short == None %}
            <td><a class="player-link" href="/retiredprofile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% else %}
            <td><a class="player-link" href="/profile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% endif %}
          {% if p.team_short == "SD" %}
            <td><a class="team-link" href="/teams/LAC">{{ p.team_short }}</a></td>
          {% elif p.team_short == "STL" %}
            <td><a class="team-link" href="/teams/LA">{{ p.team_short }}</a></td>
          {% elif p.team_short == None %}
            <td>Retired</td>
          {% else %}
            <td><a class="team-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a></td>
          {% endif %}
          {% if p.position == None %}
            <td>--</td>
          {% else %}
            <td>{{ p.position }}</td>
          {% endif %}
          <td>{{ p.att }}</td>
          <td>{{ p.att_g }}</td>
          <td>{{ p.yards }}</td>
          <td>{{ p.yards_c }}</td>
          <td>{{ p.yards_g }}</td>
          <td>{{ p.td }}</td>
          <td>{{ p.lng }}</td>
          <td>{{ p.fd }}</td>
          <td>{{ p.rush_twenty_plus }}</td>
          <td>{{ p.rush_forty_plus }}</td>
          <td>{{ p.fum }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
</div>

{% elif category == "Receiving" %}
<div class="season-stats-table-container">
    <div class="season-stats-titles">
      <h1>Receiving</h1>
    </div>
    <table class="season-stats-table" border="0">
      <thead class="season-stats-head">
        <tr>
          <th>RK</th><th>Player</th><th>Team</th><th>Pos</th><th>Rec</th><th>Yds</th><th>Avg</th>
          <th>Yds/G</th><th>Lng</th><th>TD</th><th>1st</th><th>20+</th><th>40+</th><th>FUM</th>
        </tr>
      </thead>
      <tbody class="season-stats-body">
      {% for name, rank, query in rank_players %}
        {% for p in query %}
        <tr>
          <td>{{ rank }}</td>
          {% if p.team_short == None %}
            <td><a class="player-link" href="/retiredprofile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% else %}
            <td><a class="player-link" href="/profile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% endif %}
          {% if p.team_short == "SD" %}
            <td><a class="team-link" href="/teams/LAC">{{ p.team_short }}</a></td>
          {% elif p.team_short == "STL" %}
            <td><a class="team-link" href="/teams/LA">{{ p.team_short }}</a></td>
          {% elif p.team_short == None %}
            <td>Retired</td>
          {% else %}
            <td><a class="team-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a></td>
          {% endif %}
          {% if p.position == None %}
            <td>--</td>
          {% else %}
            <td>{{ p.position }}</td>
          {% endif %}
          <td>{{ p.rec }}</td>
          <td>{{ p.yards }}</td>
          <td>{{ p.yards_rec }}</td>
          <td>{{ p.yards_g }}</td>
          <td>{{ p.lng }}</td>
          <td>{{ p.td }}</td>
          <td>{{ p.fd }}</td>
          <td>{{ p.rec_twenty_plus }}</td>
          <td>{{ p.rec_forty_plus }}</td>
          <td>{{ p.fum }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
</div>

{% elif category == "Tackles" or category == "Sacks" or category == "Interceptions" %}
<div class="season-stats-table-container">
  <div class="season-stats-titles">
    <h1>Defense</h1>
  </div>
  <table class="season-stats-table" border="0">
    <thead class="season-stats-head">
      <tr>
        <th>RK</th><th>Player</th><th>Team</th><th>Pos</th><th>Comb</th><th>Solo</th><th>Ast</th><th>Sck</th>
        <th>SFTY</th><th>PDef</th><th>Int</th><th>TD</th><th>Int Yds</th><th>Int Lng</th>
      </tr>
    </thead>
    <tbody class="season-stats-body">
    {% for name, rank, query in rank_players %}
      {% for p in query %}
      <tr>
        <td>{{ rank }}</td>
        {% if p.team_short == None %}
          <td><a class="player-link" href="/retiredprofile/?player={{ p.player_id }}">{{ name }}</a></td>
        {% else %}
          <td><a class="player-link" href="/profile/?player={{ p.player_id }}">{{ name }}</a></td>
        {% endif %}
        {% if p.team_short == "SD" %}
          <td><a class="team-link" href="/teams/LAC">{{ p.team_short }}</a></td>
        {% elif p.team_short == "STL" %}
          <td><a class="team-link" href="/teams/LA">{{ p.team_short }}</a></td>
        {% elif p.team_short == None %}
          <td>Retired</td>
        {% else %}
          <td><a class="team-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a></td>
        {% endif %}
        {% if p.position == None %}
          <td>--</td>
        {% else %}
          <td>{{ p.position }}</td>
        {% endif %}
        <td>{{ p.total_tkl }}</td>
        <td>{{ p.solo_tkl }}</td>
        <td>{{ p.assisted_tkl }}</td>
        <td>{{ p.sck }}</td>
        <td>{{ p.safties }}</td>
        <td>{{ p.pass_def }}</td>
        <td>{{ p.ints }}</td>
        <td>{{ p.int_td }}</td>
        <td>{{ p.int_yards }}</td>
        <td>{{ p.lng_int_return }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</div>

{% elif category == "Field Goals" %}
<div class="season-stats-table-container">
    <div class="season-stats-titles">
      <h1>Field Goals</h1>
    </div>
    <table class="season-stats-table" border="0">
      <thead class="season-stats-head">
        <tr>
          <th>RK</th><th>Player</th><th>Team</th><th>Pos</th><th>FG</th><th>Att</th><th>Pct</th><th>Blk</th>
          <th>LNG</th><th>20-29: FG-A-PCT</th><th>30-39: FG-A-Pct</th><th>40-49: FG-A-Pct</th><th>50+: FG-A-PCT</th>
          <th>EX</th><th>Att</th><th>Pct</th><th>Blk</th>
        </tr>
      </thead>
      <tbody class="season-stats-body">
      {% for name, rank, query in rank_players %}
        {% for p in query %}
        <tr>
          <td>{{ rank }}</td>
          {% if p.team_short == None %}
            <td><a class="player-link" href="/retiredprofile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% else %}
            <td><a class="player-link" href="/profile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% endif %}
          {% if p.team_short == "SD" %}
            <td><a class="team-link" href="/teams/LAC">{{ p.team_short }}</a></td>
          {% elif p.team_short == "STL" %}
            <td><a class="team-link" href="/teams/LA">{{ p.team_short }}</a></td>
          {% elif p.team_short == None %}
            <td>Retired</td>
          {% else %}
            <td><a class="team-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a></td>
          {% endif %}
          {% if p.position == None %}
            <td>--</td>
          {% else %}
            <td>{{ p.position }}</td>
          {% endif %}
          <td>{{ p.fg }}</td>
          <td>{{ p.fg_att }}</td>
          <td>{{ p.fg_perc }}</td>
          <td>{{ p.kb }}</td>
          <td>{{ p.lng }}</td>
          <td>{{ p.fg_twenty }}-{{ kicker.fg_twenty_att }}-{{ kicker.fg_twenty_perc }}</td>
          <td>{{ p.fg_thirty }}-{{ kicker.fg_thirty_att }}-{{ kicker.fg_thirty_perc }}</td>
          <td>{{ p.fg_forty }}-{{ kicker.fg_forty_att }}-{{ kicker.fg_forty_perc }}</td>
          <td>{{ p.fg_fifty }}-{{ kicker.fg_fifty_att }}-{{ kicker.fg_fifty_perc }}</td>
          <td>{{ p.ex }}</td>
          <td>{{ p.ex_att }}</td>
          <td>{{ p.ex_perc }}</td>
          <td>{{ p.ex_b }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
</div>

{% elif category == "Punting" %}
  <div class="season-stats-table-container">
    <div class="season-stats-titles">
      <h1>Punting</h1>
    </div>
    <table class="season-stats-table" border="0">
      <thead class="season-stats-head">
        <tr>
          <th>RK</th><th>Player</th><th>Team</th><th>Pos</th><th>P</th><th>Yds</th><th>Lng</th>
          <th>Avg</th><th>Blk</th><th>Oob</th><th>DP</th><th>In 20</th><th>TB</th><th>FC</th>
          <th>P Ret</th><th>Ret Yds</th><th>Ret TD</th>
        </tr>
      </thead>
      <tbody class="season-stats-body">
      {% for name, rank, query in rank_players %}
        {% for p in query %}
        <tr>
          <td>{{ rank }}</td>
          {% if p.team_short == None %}
            <td><a class="player-link" href="/retiredprofile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% else %}
            <td><a class="player-link" href="/profile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% endif %}
          {% if p.team_short == "SD" %}
            <td><a class="team-link" href="/teams/LAC">{{ p.team_short }}</a></td>
          {% elif p.team_short == "STL" %}
            <td><a class="team-link" href="/teams/LA">{{ p.team_short }}</a></td>
          {% elif p.team_short == None %}
            <td>Retired</td>
          {% else %}
            <td><a class="team-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a></td>
          {% endif %}
          {% if p.position == None %}
            <td>--</td>
          {% else %}
            <td>{{ p.position }}</td>
          {% endif %}
          <td>{{ p.punts }}</td>
          <td>{{ p.p_yards }}</td>
          <td>{{ p.lng }}</td>
          <td>{{ p.p_avg }}</td>
          <td>{{ p.pb }}</td>
          <td>{{ p.obp }}</td>
          <td>{{ p.dp }}</td>
          <td>{{ p.p_twenty }}</td>
          <td>{{ p.tb }}</td>
          <td>{{ p.fc }}</td>
          <td>{{ p.p_ret }}</td>
          <td>{{ p.p_ret_yards }}</td>
          <td>{{ p.p_ret_td }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
</div>

{% elif category == "Kick Returns" %}
<div class="season-stats-table-container">
  <div class="season-stats-titles">
    <h1>Kick Returns</h1>
  </div>
  <table class="season-stats-table" border="0">
    <thead class="season-stats-head">
      <tr>
        <th>RK</th><th>Player</th><th>Team</th><th>Pos</th><th>KR</th><th>Yds</th>
        <th>Avg</th><th>lng</th><th>td</th><th>20+</th><th>40+</th><th>FC</th><th>FUM</th>
      </tr>
    </thead>
    <tbody class="season-stats-body">
    {% for name, rank, query in rank_players %}
      {% for p in query %}
        <tr>
          <td>{{ rank }}</td>
          {% if p.team_short == None %}
            <td><a class="player-link" href="/retiredprofile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% else %}
            <td><a class="player-link" href="/profile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% endif %}
          {% if p.team_short == "SD" %}
            <td><a class="team-link" href="/teams/LAC">{{ p.team_short }}</a></td>
          {% elif p.team_short == "STL" %}
            <td><a class="team-link" href="/teams/LA">{{ p.team_short }}</a></td>
          {% elif p.team_short == None %}
            <td>Retired</td>
          {% else %}
            <td><a class="team-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a></td>
          {% endif %}
          {% if p.position == None %}
            <td>--</td>
          {% else %}
            <td>{{ p.position }}</td>
          {% endif %}
            <td>{{ p.kr }}</td>
            <td>{{ p.kr_yards }}</td>
            <td>{{ p.yards_kr }}</td>
            <td>{{ p.lng }}</td>
            <td>{{ p.td }}</td>
            <td>{{ p.kr_twenty_plus }}</td>
            <td>{{ p.kr_forty_plus }}</td>
            <td>{{ p.fc }}</td>
            <td>{{ p.fum }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
</div>

{% elif category == "Punt Returns" %}
<div class="season-stats-table-container">
  <div class="season-stats-titles">
    <h1>Punt Returns</h1>
  </div>
  <table class="season-stats-table" border="0">
    <thead class="season-stats-head">
      <tr>
        <th>RK</th><th>Player</th><th>Team</th><th>Pos</th><th>PR</th><th>Yds</th>
        <th>Avg</th><th>Lng</th><th>TD</th><th>20+</th><th>40+</th><th>FC</th><th>FUM</th>
      </tr>
    </thead>
    <tbody class="season-stats-body">
    {% for name, rank, query in rank_players %}
      {% for p in query %}
        <tr>
          <td>{{ rank }}</td>
          {% if p.team_short == None %}
            <td><a class="player-link" href="/retiredprofile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% else %}
            <td><a class="player-link" href="/profile/?player={{ p.player_id }}">{{ name }}</a></td>
          {% endif %}
          {% if p.team_short == "SD" %}
            <td><a class="team-link" href="/teams/LAC">{{ p.team_short }}</a></td>
          {% elif p.team_short == "STL" %}
            <td><a class="team-link" href="/teams/LA">{{ p.team_short }}</a></td>
          {% elif p.team_short == None %}
            <td>Retired</td>
          {% else %}
            <td><a class="team-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a></td>
          {% endif %}
          {% if p.position == None %}
            <td>--</td>
          {% else %}
            <td>{{ p.position }}</td>
          {% endif %}
          <td>{{ p.pr }}</td>
          <td>{{ p.pr_yards }}</td>
          <td>{{ p.yards_pr }}</td>
          <td>{{ p.lng }}</td>
          <td>{{ p.td }}</td>
          <td>{{ p.pr_twenty_plus }}</td>
          <td>{{ p.pr_forty_plus }}</td>
          <td>{{ p.fc }}</td>
          <td>{{ p.fum }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}

<footer class="pagination">
  <span class="step-links">
      <span class="current">
        {% for pc in pagecount %}
          {% if pc == players.number %}
            <span class="current-page">
              {{ players.number }}
            </span>
          {% else %}
            {% if category == None %}
              <a class="other-pages" href="?team=All+NFL&category=Passing&year=2018&status=Active&page={{ pc }}">
                {{ pc }}
              </a>
            {% elif team == None and status == None %}
              <a class="other-pages" href="?team=All+NFL&category={{ category }}&year={{ year }}&status=Active&page={{ pc }}">
                {{ pc }}
              </a>
            {% else %}
              <a class="other-pages" href="?team={{ team }}&category={{ category }}&year={{ year }}&status={{ status }}&page={{ pc }}">
                {{ pc }}
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </span>
  </span>
</footer>

{% endblock %}
