{% extends "main/index.html" %}
{% load static %}
{% block content %}
<div class="teams-page-container">
  <div class="afc-container">
    <img class="afc" src="{% static 'images/AFC.PNG' %}"/>
    <div class="division">
      <h2>AFC East</h2>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/BUF.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/BUF/">Buffalo Bills</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/MIA.PNG' %}"/>
          <div class="link-container">
              <a class="teams-page-link" href="/teams/MIA/">Miami Dolphins</a>
          </div>
        </div>
      </div>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="short-wide" src="{% static 'images/NE.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/NE/">New England Patriots</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="short-wide" src="{% static 'images/NYJ.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/NYJ/">New York Jets</a>
          </div>
        </div>
      </div>
    </div>

    <div class="division">
      <h2>AFC North</h2>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="short-wide" src="{% static 'images/BAL.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/BAL/">Baltimore Ravens</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/CIN.PNG' %}"/>
          <div class="link-container">
              <a class="teams-page-link" href="/teams/CIN/">Cincinnati Bengals</a>
          </div>
        </div>
      </div>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/CLE.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/CLE/">Cleveland Browns</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/PIT.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/PIT/">Pittsburgh Steelers</a>
          </div>
        </div>
      </div>
    </div>

    <div class="division">
      <h2>AFC South</h2>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/HOU.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/HOU/">Houston Texans</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/IND.PNG' %}"/>
          <div class="link-container">
              <a class="teams-page-link" href="/teams/IND/">Indianapolis Colts</a>
          </div>
        </div>
      </div>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/JAX.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/JAX/">Jacksonville Jaguars</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/TEN.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/TEN/">Tennessee Titans</a>
          </div>
        </div>
      </div>
    </div>

    <div class="division">
      <h2>AFC West</h2>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/DEN.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/DEN/">Denver Broncos</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/KC.PNG' %}"/>
          <div class="link-container">
              <a class="teams-page-link" href="/teams/KC/">Kansas City Chiefs</a>
          </div>
        </div>
      </div>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="short-wide" src="{% static 'images/LAC.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/LAC/">Los Angeles Chargers</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/OAK.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/OAK/">Oakland Raiders</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teams-page-separator"><div></div></div>

  <div class="nfc-container">
    <img class="nfc" src="{% static 'images/NFC.PNG' %}"/>

    <div class="division">
      <h2>NFC East</h2>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/DAL.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/DAL/">Dallas Cowboys</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/NYG.PNG' %}"/>
          <div class="link-container">
              <a class="teams-page-link" href="/teams/NYG/">New York Giants</a>
          </div>
        </div>
      </div>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/PHI.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/PHI/">Philadelphia Eagles</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/WAS.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/WAS/">Washington Redskins</a>
          </div>
        </div>
      </div>
    </div>

    <div class="division">
      <h2>NFC North</h2>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/CHI.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/CHI/">Chicago Bears</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/DET.PNG' %}"/>
          <div class="link-container">
              <a class="teams-page-link" href="/teams/DET/">Detroit Lions</a>
          </div>
        </div>
      </div>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/GB.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/GB/">Green Bay Packers</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/MIN.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/MIN/">Minnesota Vikings</a>
          </div>
        </div>
      </div>
    </div>

    <div class="division">
      <h2>NFC South</h2>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/ATL.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/ATL/">Atlanta Falcons</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/CAR.PNG' %}"/>
          <div class="link-container">
              <a class="teams-page-link" href="/teams/CAR/">Carolina Panthers</a>
          </div>
        </div>
      </div>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="less-width" src="{% static 'images/NO.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/NO/">New Orleans Saints</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/TB.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/TB/">Tampa Bay Buccaneers</a>
          </div>
        </div>
      </div>
    </div>

    <div class="division">
      <h2>NFC West</h2>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/ARI.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/ARI/">Arizona Cardinals</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/LA.PNG' %}"/>
          <div class="link-container">
              <a class="teams-page-link" href="/teams/LA/">Los Angeles Rams</a>
          </div>
        </div>
      </div>
      <div class="two-team-division">
        <div class="team-in-div">
          <img class="normal" src="{% static 'images/SF.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/SF/">San Francisco 49ers</a>
          </div>
        </div>
        <div class="team-in-div">
          <img class="short-wide" src="{% static 'images/SEA.PNG' %}"/>
          <div class="link-container">
            <a class="teams-page-link" href="/teams/SEA/">Seattle Seahawks</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
