{% extends "main/index.html" %}

{% block content %}

<!--
    {% for p in passer %}
      {% if p.position == "QB" %}
        <div class="playersearch-box">
          {{ p.name }}
          <div class="info-box">
            {{ p.position }}
            <a class="team-search-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a>
            <div>
              <p>{{ p.yards }} YDS</p>
              <p>{{ p.td }} TD</p> <p>{{ p.ints }} INT</p>
            </div>
            <a class="view-profile-link" href="/profile/?player={{ p.player_id }}">View Profile</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  {% for rush in rusher %}
    {% if rush.position == "RB" %}
      <div class="playersearch-box">
        {{ rush.name }}
        <div class="info-box">
          {{ rush.position }}
          <a class="team-search-link" href="/teams/{{ rush.team_short }}">{{ rush.team_short }}</a>
          <div>
            <p>{{ rush.yards }} YDS</p>
            <p>{{ rush.att }} ATT</p> <p>{{ rush.td }} TD</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ rush.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for rush in rusher %}
    {% if rush.position == "FB" %}
      <div class="playersearch-box">
        {{ rush.name }}
        <div class="info-box">
          {{ rush.position }}
          <a class="team-search-link" href="/teams/{{ rush.team_short }}">{{ rush.team_short }}</a>
          <div>
            <p>{{ rush.yards }} YDS</p>
            <p>{{ rush.att }} ATT</p> <p>{{ rush.td }} TD</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ rush.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for rec in receiver %}
    {% if rec.position == "WR" %}
      <div class="playersearch-box">
        {{ rec.name }}
        <div class="info-box">
          {{ rec.position }}
          <a class="team-search-link" href="/teams/{{ rec.team_short }}">{{ rec.team_short }}</a>
          <div>
            <p>{{ rec.yards }} YDS</p>
            <p>{{ rec.rec }} REC</p> <p>{{ rec.td }} TD</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ rec.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for rec in receiver %}
    {% if rec.position == "TE" %}
      <div class="playersearch-box">
        {{ rec.name }}
        <div class="info-box">
          {{ rec.position }}
          <a class="team-search-link" href="/teams/{{ rec.team_short }}">{{ rec.team_short }}</a>
          <div>
            <p>{{ rec.yards }} YDS</p>
            <p>{{ rec.rec }} REC</p> <p>{{ rec.td }} TD</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ rec.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for d in defender %}
    {% if d.position == "DT" or d.position == "NT" %}
      <div class="playersearch-box">
        {{ d.name }}
        <div class="info-box">
          {{ d.position }}
          <a class="team-search-link" href="/teams/{{ d.team_short }}">{{ d.team_short }}</a>
          <div>
            <p>{{ d.sck }} SCK</p>
            <p>{{ d.total_tkl }} TKL</p> <p>{{ d.solo_tkl }} SOLO</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ d.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for d in defender %}
    {% if d.position == "DE" %}
      <div class="playersearch-box">
        {{ d.name }}
        <div class="info-box">
          {{ d.position }}
          <a class="team-search-link" href="/teams/{{ d.team_short }}">{{ d.team_short }}</a>
          <div>
            <p>{{ d.sck }} SCK</p>
            <p>{{ d.total_tkl }} TKL</p> <p>{{ d.solo_tkl }} SOLO</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ d.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for d in defender %}
    {% if d.position == "OLB" %}
      <div class="playersearch-box">
        {{ d.name }}
        <div class="info-box">
          {{ d.position }}
          <a class="team-search-link" href="/teams/{{ d.team_short }}">{{ d.team_short }}</a>
          <div>
            <p>{{ d.total_tkl }} TKL</p>
            <p>{{ d.solo_tkl }} SOLO</p> <p>{{ d.sck }} SCK</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ d.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for d in defender %}
    {% if d.position == "ILB" or d.position == "MLB" %}
      <div class="playersearch-box">
        {{ d.name }}
        <div class="info-box">
          {{ d.position }}
          <a class="team-search-link" href="/teams/{{ d.team_short }}">{{ d.team_short }}</a>
          <div>
            <p>{{ d.total_tkl }} TCK</p>
            <p>{{ d.solo_tkl }} SOLO</p> <p>{{ d.sck }} SCK</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ d.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for d in defender %}
    {% if d.position == "LB" %}
      <div class="playersearch-box">
        {{ d.name }}
        <div class="info-box">
          {{ d.position }}
          <a class="team-search-link" href="/teams/{{ d.team_short }}">{{ d.team_short }}</a>
          <div>
            <p>{{ d.total_tkl }} TKL</p>
            <p>{{ d.solo_tkl }} SOLO</p> <p>{{ d.sck }} SCK</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ d.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for d in defender %}
    {% if d.position == "CB" or d.position == "DB" %}
      <div class="playersearch-box">
        {{ d.name }}
        <div class="info-box">
          {{ d.position }}
          <a class="team-search-link" href="/teams/{{ d.team_short }}">{{ d.team_short }}</a>
          <div>
            <p>{{ d.ints }} INT</p>
            <p>{{ d.pass_def }} PDEF</p> <p>{{ d.total_tkl }} TCK</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ d.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for d in defender %}
    {% if d.position == "FS" %}
      <div class="playersearch-box">
        {{ d.name }}
        <div class="info-box">
          {{ d.position }}
          <a class="team-search-link" href="/teams/{{ d.team_short }}">{{ d.team_short }}</a>
          <div>
            <p>{{ d.ints }} INT</p>
            <p>{{ d.pass_def }} PDEF</p> <p>{{ d.total_tkl }} TCK</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ d.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for d in defender %}
    {% if d.position == "SS" %}
      <div class="playersearch-box">
        {{ d.name }}
        <div class="info-box">
          {{ d.position }}
          <a class="team-search-link" href="/teams/{{ d.team_short }}">{{ d.team_short }}</a>
          <div>
            <p>{{ d.ints }} INT</p>
            <p>{{ d.pass_def }} PDEF</p> <p>{{ d.total_tkl }} TCK</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ d.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for k in kicker %}
    {% if k.position == "K" %}
      <div class="playersearch-box">
        {{ k.name }}
        <div class="info-box">
          {{ k.position }}
          <a class="team-search-link" href="/teams/{{ k.team_short }}">{{ k.team_short }}</a>
          <div>
            <p>{{ k.fg }} FG</p>
            <p>{{ k.fg_att }} ATT</p> <p>{{ k.fg_perc }} PCT</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ k.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for p in punter %}
    {% if p.position == "P" %}
      <div class="playersearch-box">
        {{ p.name }}
        <div class="info-box">
          <div class="pos-team-playersearch">
            <p class="player-search-pos">{{ p.position }}</p>
            <a class="team-search-link" href="/teams/{{ p.team_short }}">{{ p.team_short }}</a>
          </div>
          <div>
            <p>{{ p.p_yards }} YDS</p>
            <p>{{ p.punts }} P</p> <p>{{ p.p_avg }} AVG</p>
          </div>
          <a class="view-profile-link" href="/profile/?player={{ p.player_id }}">View Profile</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
-->






{{ p.position }}
{% if p.team == "Buffalo Bills" %}
  BUF
{% elif p.team == "New York Jets" %}
  NYJ
{% elif p.team == "New England Patriots" %}
  NE
{% elif p.team == "Baltimore Ravens" %}
  BAL
{% elif p.team == "Cincinnati Bengals" %}
  CIN
{% elif p.team == "Cleveland Browns" %}
  CLE
{% elif p.team == "Pittsburgh Steelers" %}
  PIT
{% elif p.team == "Houtson Texans" %}
  HOU
{% elif p.team == "Indianapolis Colts" %}
  IND
{% elif p.team == "Jacksonville Jaguars" %}
  JAX
{% elif p.team == "Tennessee Titans" %}
  TEN
{% elif p.team == "Denver Broncos" %}
  DEN
{% elif p.team == "Kansas City Chiefs" %}
  KC
{% elif p.team == "Los Angeles Chargers" %}
  LAC
{% elif p.team == "Oakland Raiders" %}
  OAK
{% elif p.team == "Dallas Cowboys" %}
  DAL
{% elif p.team == "New York Giants" %}
  NYG
{% elif p.team == "Philadelphia Eagles" %}
  PHI
{% elif p.team == "Washington Redskins" %}
  WAS
{% elif p.team == "Chicago Bears" %}
  CHI
{% elif p.team == "Detroit Lions" %}
  DET
{% elif p.team == "Green Bay Packers" %}
  GB
{% elif p.team == "Minnesota Vikings" %}
  MIN
{% elif p.team == "Atlanta Falcons" %}
  ATL
{% elif p.team == "Carolina Panthers" %}
  CAR
{% elif p.team == "New Orleans Saints" %}
  NO
{% elif p.team == "Tampa Bay Buccaneers" %}
  TB
{% elif p.team == "Arizona Cardinals" %}
  ARI
{% elif p.team == "Los Angeles Rams" %}
  LA
{% elif p.team == "San Francisco 49ers" %}
  SF
{% elif p.team == "Seattle Seahawks" %}
  SEA
{% elif p.team == "St. Louis Rams" %}
  STL
{% elif p.team == "San Diego Chargers" %}
  SD
{% endif %}

rushing = Rushing.objects.filter(year="2018")
    yards_list = [player.yards for player in rushing]
    int_list = StatOrder.greatest_least(yards_list)
    yards = StatOrder.add_commas(int_list)
    rush_queries = []
    for y in yards:
        obj = Rushing.objects.filter(year="2018", yards=y)
        rush_queries.append(obj)
    r = Paginator(rush_queries, 25)
    rushers = r.get_page(page)
    rush_pagecount = StatOrder.pagecount(rushers)

    receiving = Receiving.objects.filter(year="2018")
    yards_list = [player.yards for player in receiving]
    int_list = StatOrder.greatest_least(yards_list)
    yards = StatOrder.add_commas(int_list)
    rec_queries = []
    for y in yards:
        obj = Receiving.objects.filter(year="2018", yards=y)
        rec_queries.append(obj)
    r = Paginator(rec_queries, 25)
    receivers = r.get_page(page)
    rec_pagecount = StatOrder.pagecount(receivers)

    defense = Defense.objects.filter(year="2018")
    tackles_list = [player.total_tkl for player in defense]
    int_list = StatOrder.greatest_least(tackles_list)
    tackles = [str(i) for i in int_list]
    def_queries = []
    for t in tackles:
        obj = Defense.objects.filter(year="2018", total_tkl=t)
        def_queries.append(obj)
    d = Paginator(def_queries, 25)
    defenders = d.get_page(page)
    def_pagecount = StatOrder.pagecount(defenders)

    fgs = FieldGoals.objects.filter(year="2018")
    fgs_list = [player.fg for player in fgs]
    int_list = StatOrder.greatest_least(fgs_list)
    kicks = [str(i) for i in int_list]
    k_queries = []
    for k in kicks:
        obj = FieldGoals.objects.filter(year="2018", fg=k)
        k_queries.append(obj)
    k = Paginator(k_queries, 25)
    kickers = k.get_page(page)
    k_pagecount = StatOrder.pagecount(kickers)

    punting = Punting.objects.filter(year="2018")
    punts_list = [player.punts for player in punting]
    int_list = StatOrder.greatest_least(punts_list)
    punts = [str(i) for i in int_list]
    p_queries = []
    for p in punts:
        obj = Punting.objects.filter(year="2018", punts=p)
        p_queries.append(obj)
    p = Paginator(p_queries, 25)
    punters = p.get_page(page)
    p_pagecount = StatOrder.pagecount(punters)

    krs = KickReturns.objects.filter(year="2018")
    kr_list = [player.kr for player in krs]
    int_list = StatOrder.greatest_least(kr_list)
    k_ret = [str(i) for i in int_list]
    kr_queries = []
    for r in k_ret:
        obj = KickReturns.objects.filter(year="2018", kr=r)
        kr_queries.append(obj)
    kr = Paginator(kr_queries, 25)
    k_returners = kr.get_page(page)
    kr_pagecount = StatOrder.pagecount(k_returners)

    prs = PuntReturns.objects.filter(year="2018")
    pr_list = [player.pr for player in prs]
    int_list = StatOrder.greatest_least(pr_list)
    p_ret = [str(i) for i in int_list]
    pr_queries = []
    for r in p_ret:
        obj = PuntReturns.objects.filter(year="2018", pr=r)
        pr_queries.append(obj)
    p = Paginator(pr_queries, 25)
    p_returners = p.get_page(page)
    pr_pagecount = StatOrder.pagecount(p_returners)

































{% endblock %}
