@charset "utf-8";
/*	==================================================
	FILE: style.css
	DESC: Main Custom Stylesheet
 *	=============================================== */

/*	--------------------------------------------------
		Global Base Styles
*	----------------------------------------------- */
html { background-color: #696969; }
body { background-color: #d5d5d5; }
body {
	font-size: 16px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*	--------------------------------------------------
		Primary Layout Container Styles
*	----------------------------------------------- */
#masthead {
	margin-bottom: 50px;
	background-color: #4B4B4B;
}
#colophon {
	padding: 10px 0;
	background-color: #4B4B4B;
}
#main {
	overflow-x: auto;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0,0,0,.6);
}
.contain {
	width: 90%;
	margin: 0 auto;
	max-width: 1600px;
}


/*	--------------------------------------------------
		HEADER: Areas & Main Elements
*	----------------------------------------------- */
#masthead .col { margin: 0; padding-top: 3px; }
#masthead .col.first { margin-right: 25px; display: grid; grid-template-columns: 28% 71%; align-items: center;}
#masthead .col.middle {display: grid; align-items: center; grid-template-columns: 60% 44%;}
#masthead .col.last { display: flex; justify-content: flex-end;}
#masthead .code { display: inline-block; margin-bottom: 10px;}
#masthead .logo > img { display: block; width: 270px; height: 60px; }
#masthead .nav-main { padding: 20px 0; }
#masthead .burger {display: none; cursor: pointer;}
#masthead .burger div {float: right; background-color: #fff; height: 3px; width: 25px; margin: 5px;}


/*	--------------------------------------------------
		HEADER: Main Menu Elements
*	----------------------------------------------- */
#masthead .nav-main .menu {
	display: block;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#masthead .nav-main .menu .menu-item {
	font-size: 16px;
	line-height: 1;
	display: inline-block;
	padding: 0 5px 0 0;
	border-right: 1px solid #fff;
}
#masthead .nav-main .menu .menu-item:last-child {
	border-right: 0 none;
}
#masthead .nav-main .menu .menu-item > a {
	color: #fff;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

#masthead .nav-main .menu .menu-item > a:hover { color: lightgrey; }
#masthead .nav-main .menu .menu-item > a:active { text-decoration: underline; }





/*	--------------------------------------------------
		MAIN Content: Sub-Containers
*	----------------------------------------------- */
#main .header  { background-image: linear-gradient(#CCC, #FFF); }
#main .content { min-height: 600px; }
#main .footer  { border-top: 1px solid #696969; }


/*	--------------------------------------------------
		MAIN Content: Header Elemets
*	----------------------------------------------- */
#main .header .page-titles { padding-top: 3%; padding-left: 3%;}
#main .header .page-titles .main-title {
	margin: 0; padding: 0;
	text-transform: uppercase;
	color: #000; font-size: 28px; line-height: 1.25;
}

/*	--------------------------------------------------
		MAIN Content: Content Elemets
*	----------------------------------------------- */

/* Tables */

#main .season-stats-table-container { display: inline-block;
																			box-sizing: border-box;
																			margin-top: 3%;
																			margin-left: 3%;
																			margin-right: 3%;
																		 	width: 94%; }


#main .season-stats-table-container .season-stats-titles {	display: flex;
																													  justify-content: center;
																													  align-items: center;
																													  color: #F5F5F5;
																													  background-color: #C50505;
																													  height: 35px;
																													  text-transform: uppercase; }
#main .season-stats-table-container .season-stats-titles .season-stats-titles h1 { font-size: 20px; }
#main .season-stats-table-container .season-stats-table { width: 100%; font-size: 21px; }
#main .season-stats-head { text-transform: uppercase; }
#main .season-stats-head tr th { font-size: 18px; padding-top: 1%; }
#main .season-stats-body tr:nth-child(even) { background-color: #E8E8E8; }
#main .season-stats-body tr td { font-size: 17px; padding-top: 1%; padding-bottom: 1%; text-align: center; }

#main .player-link, .team-link { text-decoration: none; color: #1100F9; cursor: pointer; }
#main .player-link:hover, .team-link:hover { color: #C50505; }
#main .player-link:active, .team-link:active { text-decoration: underline; }

/* Season Leaders Tables */

#main .six-tables-container { margin: 3% 0 3% 3%;
															display: grid;
															grid-template-columns: 30% 30% 30%;
															grid-gap: 3%; }
#main .six-tables-container .season-leaders-table-container { padding-bottom: 50px; }
#main .six-tables-container .season-leaders-table-container .season-leaders-titles {	display: flex;
																																										  color: #F5F5F5;
																																										  background-color: #C50505;
																																										  height: 35px;
																																										  width: 100%;
																																										}
#main .six-tables-container .season-leaders-table-container .season-leaders-titles h1 { flex: 0.96;
																																												display: flex;
																																												justify-content: center;
																																												align-items: center;
																																												font-size: 18px;
																																												text-transform: uppercase;
																																												margin-left: 17%;
																																												}

#main .six-tables-container .season-leaders-table-container .season-leaders-titles h5 a { display: flex;
																																												  margin-top: -21%;
																																												  font-size: 10px;
																																												  text-decoration: underline;
																																												  color: #F5F5F5;
																																												  cursor: pointer;
																																													}

#main .season-leaders-table { width: 100%; }
#main .season-leaders-table .season-leaders-head tr th { text-transform: uppercase; padding-top: 3%; }
#main .season-leaders-table .season-leaders-body tr td { padding-top: 3%; padding-bottom: 3%; text-align: center; }
#main .season-leaders-table .season-leaders-body tr:nth-child(even) { background-color: #E8E8E8; }

/* ---------------------------------------------------
Team Page
-----------------------------------------------------*/

/* Containers and links */

#main .teams-page-container {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  margin: 3%;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
#main .teams-page-container .afc-container { text-align: center; margin-top: 10%; }
#main .teams-page-container .teams-page-separator {
  display: flex;
  justify-content: center;
  margin-top: 50%;
  margin-bottom: 50%;
}
#main .teams-page-container .teams-page-separator div { height: 100%; border-right: 2px dotted lightgrey; }
#main .teams-page-container .nfc-container { text-align: center; margin-top: 10%; margin-bottom: 10%; }

#main .teams-page-container .division { padding-top: 8%; display: inline-block; }
#main .teams-page-container .division h2 { color: grey; }
#main .teams-page-container .division .two-team-division { display: grid; grid-template-columns: 55% 55%; justify-content: center; align-items: center; }
#main .teams-page-container .division .team-in-div {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 30px 45px 20px 30px;
}

#main .teams-page-container .teams-page-link { font-size: 16px; text-decoration: none; color: #1100F9; }
#main .teams-page-container .teams-page-link:hover { text-decoration: none; color:#C50505; }
#main .teams-page-container .teams-page-link:active { text-decoration: underline; }

/* Images */

#main .teams-page-container .afc-container .afc { height: 100px; width: 120px; }
#main .teams-page-container .nfc-container .nfc { height: 100px; width: 120px; }
#main .teams-page-container .normal { height: 90px; width: 145px; margin-bottom: 10px; }
#main .teams-page-container .less-width { height: 85px; width: 105px; margin-bottom: 10px; }
#main .teams-page-container .short-wide { height: 85px; width: 150px; margin-bottom: 10px; }

/* 	------------------------------------------------
		Individual Team Pages
* ------------------------------------------------*/

/* Teams player pages */

#main .team-page-container { margin: 3%; }

#main .team-page-container .team-page-trio {
	  padding-top: 5%;
	  padding-left: 5%;
	  padding-bottom: 3%;
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;
	  text-transform: uppercase;
	  font-size: 18px;
	}
#main .team-page-container .team-page-trio .team-page-info { padding-left: 2%; margin-right: -5%; }
#main .team-page-container .team-page-trio .team-page-info .team-name { font-size: 18px; margin-bottom: 3px; }
#main .team-page-container .team-page-trio .team-page-info .division-name { font-size: 18px; color: grey; }

#main .team-page-container .team-table-container { width: 90%; display: inline-block; box-sizing: border-box; margin-left: 5%; }
#main .team-page-container .team-table-container .team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #C50505;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .BAL-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #3E005D;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .CAR-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #0054C2;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .CHI-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #C23500;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .CIN-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #FF5700;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .CLE-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #EC4100;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .DAL-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #00005D;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .DEN-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #0B0044;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .GB-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #002A03;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .IND-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #05159C;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .JAX-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #018BA1;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .NO-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #B48B39;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .NYJ-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #005B34;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .OAK-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: black;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .PHI-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #026046;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container .PIT-team-titles {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #F5F5F5;
	  background-color: #D6BA00;
	  height: 35px;
	  width: 100%;
	  text-transform: uppercase;
	}
#main .team-page-container .team-table-container div h1 { font-size: 20px; }
#main .team-page-container .team-table-container .team-table { width: 100%; font-size: 18px; }
#main .team-page-container .team-table-container .team-table .team-head { text-transform: uppercase; }
#main .team-page-container .team-table-container .team-table .team-head tr th { padding-top: 1%; }
#main .team-page-container .team-table-container .team-table .team-body tr td { padding-top: 1%; padding-bottom: 1%; text-align: center; }
#main .team-page-container .team-table-container .team-table .team-body tr:nth-child(even) { background-color: #E8E8E8; }

	/* Images */

#main .team-page-container .team-page-trio .team-page-img .ARI-team { height: 90px; width: 125px; }
#main .team-page-container .team-page-trio .team-page-img .ATL-team { height: 100px; width: 110px; }
#main .team-page-container .team-page-trio .team-page-img .BAL-team { height: 80px; width: 155px; }
#main .team-page-container .team-page-trio .team-page-img .CAR-team { height: 90px; width: 140px; }
#main .team-page-container .team-page-trio .team-page-img .IND-team { height: 90px; width: 90px; }
#main .team-page-container .team-page-trio .team-page-img .NO-team { height: 100px; width: 85px; }
#main .team-page-container .team-page-trio .team-page-img .NYJ-team { height: 85px; width: 150px; }
#main .team-page-container .team-page-trio .team-page-img .SEA-team { height: 75px; width: 160px; }

/*	--------------------------------------------------
		Player Search Page
		--------------------------------------------------*/
#main .search-players {
		  border: 1px solid grey;
		  font-size: 80%;
		  border-radius: 5px;
		  padding: 0.1em 0.5em;
		  background: lightgrey;
		  height: 35px;
		  width: 125px;
			margin-right: 2%;
		}

#main .playersearch-container {
		  display: grid;
		  grid-template-columns: 20% 20% 20% 20% 20%;
		  margin-top: 3%;
		  margin-right: 3%;
		  margin-left: 3%;
		  font-size: 18px;
		}

#main .playersearch-container .playersearch-box { padding-bottom: 20%; display: inline-block; text-align: center; }
#main .playersearch-container .playersearch-box h5 { font-size: 18px; margin-bottom: -8%; }
#main .playersearch-container .playersearch-box .info-box .search-pos-team { display: flex; justify-content: center; align-items: baseline; margin-bottom: -12%; }
#main .playersearch-container .playersearch-box .info-box .search-pos-team .playersearch-pos::after {
		content: "|";
		font-size: 18px;
		padding-right: 4px;
		padding-left: 4px;
		font-weight: lighter;
		}
#main .playersearch-container .playersearch-box .info-box .search-stats { display: grid; grid-template-rows: 15% 15% 15%; margin-bottom: -36%; }
#main .playersearch-container .playersearch-box .info-box .retired-search { display: grid; grid-template-rows: 25% 25%; margin-bottom: -20%; }

/* Links */
#main .team-search-link {
			text-decoration: none;
			color: #1100F9;
			cursor: pointer;
			margin-top: 7.5px;
		}
#main .team-search-link:hover { text-decoration: none; color: #C50505; cursor: pointer; }
#main .view-profile-link { text-decoration: none; color: #C50505; cursor: pointer; font-weight: bold; }
#main .view-profile-link:hover { text-decoration: none; color: #1100F9; cursor: pointer; }
#main .team-search-link:active, .view-profile-link:active { text-decoration: underline; }

/* --------------------------------
	Hall of Fame Page
	---------------------------------*/

#main .hof-container { display: grid; margin: 3%; text-align: center; justify-content: center; }

#main .hof-container .image { margin-top: 3%; }
#main .hof-container img { height: 200px; width: 200px; }

#main .hof-container .class-container { display: inline-block; justify-content: center; }
#main .hof-container .class-container h5 { font-size: 18px; }

#main .hof-container .class-container .hof-player { display: flex; justify-content: center; padding: 15px 25px 15px 25px; }
#main .hof-container .class-container .hof-player a { text-decoration: none; font-size: 15px; color: #1100F9; padding: 15px; }
#main .hof-container .class-container .hof-player a:hover { text-decoration: none; color: #C50505; }
#main .hof-container .class-container .hof-player a:active { text-decoration: underline; }

/* ---------------------------------
	Profile Page
	----------------------------------*/

#main .profile-container {
	display: grid;
  grid-template-columns: 52% 28%;
  margin: 3%;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

#main .profile-container .pic-id-team { display: grid; grid-template-columns: 33% 33% 33%; justify-content: center; }
#main .profile-container .pic-id-team .profile-pic img { height: 135px; width: 135px; }
#main .profile-container .pic-id-team .name-posnum { display: grid; grid-template-rows: 16% 62%; font-size: 18px; text-transform: uppercase; }
#main .profile-container .pic-id-team .name-posnum .lastname { font-weight: bold; }
#main .profile-container .pic-id-team .name-posnum .pos-num { display: flex; align-items: baseline; }
#main .profile-container .pic-id-team .name-posnum .pos-num .pos { padding-left: 3px; }
#main .profile-container .pic-id-team .name-posnum .pos-num .num::after { content: "|"; font-size: 22px; color: lightgrey; }

#main .profile-container .pic-id-team .profile-wide-short { display: inline-block; text-align: center; }
#main .profile-container .pic-id-team .profile-wide-short .pic-wide-short { height: 60px; width: 130px; }
#main .profile-container .pic-id-team .profile-medium { display: inline-block; text-align: center; }
#main .profile-container .pic-id-team .profile-medium .pic-medium { height: 80px; width: 125px; }
#main .profile-container .pic-id-team .profile-long-thin { display: inline-block; text-align: center; }
#main .profile-container .pic-id-team .profile-long-thin .pic-long-thin { height: 85px; width: 95px; }

#main .profile-container .details-statsbox { display: grid; grid-template-columns: 80% 20%; align-items: center; }
#main .profile-container .details-statsbox  .details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
	border-left: 2px dotted lightgrey;
}
#main .profile-container .details-statsbox  .details .detail-titles { list-style-type: none; color: dimgrey; padding-inline-start: 15px; }
#main .profile-container .details-statsbox  .details .detail-info { list-style-type: none; padding-inline-start: 15px; }
#main .profile-container .details-statsbox  .details .detail-titles li { padding-bottom: 10px; }
#main .profile-container .details-statsbox .details .detail-info li { padding-bottom: 10px; }
#main .profile-container .details-statsbox .recent-season-box {
  display: block;
  height: 105px;
  width: 320px;
  border: 1px solid grey;
  border-radius: 2%;
  background-color: #F1F1F1;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,.4);
}
#main .profile-container .details-statsbox .recent-season-box h5 { font-size: 15px; margin-block-start: 15px; margin-block-end: 10px; }
#main .profile-container .details-statsbox .recent-season-box .season-box-container { display: inline-block; }
#main .profile-container .details-statsbox .recent-season-box .season-box-container ul { display: table-row; list-style: none; }
#main .profile-container .details-statsbox .recent-season-box .season-box-container li {
  display: table-cell;
  text-align: center;
  padding: 0 20px;
}
#main .profile-container .details-statsbox .recent-season-box .season-box-container .season-box-heads { color: dimgrey; font-size: 15px; }
#main .profile-container .details-statsbox .recent-season-box .season-box-container .season-box-data { font-size: 16px; }

#main .profile-options {
  display: flex;
  align-items: center;
  margin-left: 9%;
  margin-top: -2%;
  margin-bottom: 3%;
}
#main .profile-options .radio-form {
  display: grid;
  grid-template-columns: 67% 50%;
  grid-gap: 15px;
  align-items: center;
}
#main .profile-options .radio-form ul { display: flex; }
#main .profile-options .radio-form li { list-style-type: none; }
#main .profile-options .radio-form ul li label { display: flex; align-items: center; margin-left: 12px; }
#main .profile-options .radio-form ul li label input { width: 14px; height: 16px; margin-right: 6px; }
#main .profile-options .radio-form .BAL-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #3E005D;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .CAR-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #0054C2;
  color: #F5F5F5;
  cursor: pointer;
  }
#main .profile-options .radio-form .CHI-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #C23500;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .CIN-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #FF5700;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .CLE-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #EC4100;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .DAL-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #00005D;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .DEN-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #0B0044;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .GB-btn {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid gray;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background-color: #002A03;
    color: #F5F5F5;
    cursor: pointer;
}
#main .profile-options .radio-form .IND-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #05159C;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .JAX-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #018BA1;
  color: #F5F5F5;
  cursor: pointer;
  }
#main .profile-options .radio-form .NO-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #B48B39;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .NYJ-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #005B34;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .OAK-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: black;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .PHI-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #026046;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form .PIT-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid gray;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  background-color: #D6BA00;
  color: #F5F5F5;
  cursor: pointer;
}
#main .profile-options .radio-form button:hover {
  background-color: #4B4B4B;
  color: #F5F5F5;
  transition: 0.5s ease;
}

#main .profile-stats-table-container {
  width: 80.5%;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 10%;
}
#main .profile-stats-table-container h1 { font-size: 30px; }
#main .profile-stats-table-container .profile-stats-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  background-color: #C50505;
  height: 35px;
  width: 100%;
  text-transform: uppercase;
}
#main .profile-stats-table-container .profile-stats-table { width: 100%; font-size: 22px; }
#main .profile-stats-table-container .profile-stats-table .profile-stats-head tr th { text-transform: uppercase; padding-top: 1%; }
#main .profile-stats-table-container .profile-stats-table .profile-stats-body tr:nth-child(even) { background-color: #E8E8E8; }
#main .profile-stats-table-container .profile-stats-table .profile-stats-body tr td { padding-top: 1%; padding-bottom: 1%; text-align: center; }
#main .profile-stats-table-container .profile-stats-table .careers { font-weight: bold; text-transform: uppercase; }

/*	--------------------------------------------------
		MAIN Content: Footer Elemets
*	----------------------------------------------- */
/* Pagination */
#main .pagination {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-right: 4%;
	margin-bottom: 3%;
  padding-top: 1%;
  font-size: 17px;
  font-weight: bold;
}

#main .current { display: flex; }
#main .current a {
  border: 1px solid dimgrey;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10%;
  text-decoration: none;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 2%;
}
#main .current a:hover { background-color: #4B4B4B; color: #F5F5F5; transition: 0.3s ease; }

#main .current-page {
  border: 1px solid dimgrey;
  box-sizing: border-box;
  border-radius: 10%;
  background-color: #C50505;
  color: #F5F5F5;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 2%;
}

/*	--------------------------------------------------
		Form Elements
*	----------------------------------------------- */
#main .header .form-filters { padding-top: 3%; padding-left: 3%; padding-right: 3%; }
form select {
	cursor: pointer;
	padding-left: 5px;
	margin: 0 15px 15px 0;
	height: 35px; width: 125px;
	color: #fff; background-color: #4B4B4B;
	border: 1px solid gray; border-radius: 3px;
}
form select:hover,
form select:active {
	color: #000;
	background-color: #f0f0f0;
}

#main .header .form-filters select {
	margin: 0 15px 15px 0;
}


/*	--------------------------------------------------
		FOOTER Area Elements
*	----------------------------------------------- */
#colophon .social-links {
	text-align: center;
	list-style-type: none;
	margin: 0; padding: 0;
}
#colophon .social-links .item {
	display: inline-block;
	margin: 0 10px 0 0;
}
#colophon .social-links .item > a {
	display: block;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #f0f0f0;
}
#colophon .social-links .item > a > .fa {
	color: #333;
	font-size: 24px;
}
#colophon .social-links .item > a:hover,
#colophon .social-links .item > a:active {
	background-color: #900;
	transition: 0.3s ease;
}
#colophon .social-links .item > a:hover > .fa,
#colophon .social-links .item > a:active > .fa {
	color: #fff;
	transition: 0.3s ease;
}


/*	--------------------------------------------------
		Global Overrides: Utility Classes
*	----------------------------------------------- */
/* Block & Text Alignment */
.fleft   { float: left; }         /* Block Float Left   */
.fright  { float: right; }        /* Block Float Right  */
.bcenter { margin: 0 auto; }      /* Block Align Center */

.tleft   { text-align: left; }    /* Text Align Left    */
.tright  { text-align: right; }   /* Text Align Right   */
.tcenter { text-align: center; }  /* Text Align Center  */

/* Global Button Base Style */
.button {
	padding: 10px 20px;

	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

	border-radius: 5px;
	border: 1px solid #a0a0a0;
	background-color: #900;
	cursor: pointer;
}
.button:hover,
.button:active {
	border-color: #000;
	background-color: #c00;
	box-shadow: 0px 0px 5px #000;
	transition: 0.3s ease;
}

/* Button Color Mods */
.button.gray,
.button.grey  { color:#fff; background-color: #999; }
.button.dark  { color:#fff; background-color: #333; }
.button.light { color:#333; background-color: #fff; }

.button.gray:hover, .button.gray:active,
.button.grey:hover, .button.grey:active,
.button.dark:hover, .button.dark:active,
.button.dark:hover, .button.dark:active,
.button.light:hover, .button.light:active { color: #fff; background-color: #000; }

/* ----------------------------------------
Responsiveness to Screen Sizes
-------------------------------------------*/

@media screen and (max-width: 1125px) {
	body { overflow-x: hidden; }
	#masthead .col.first { display: grid; grid-template-columns: 98% 0% }
	#masthead .burger { display: grid; grid-template-rows: 12% 12% 12%; grid-gap: 3px; margin-top: 10px;}
	#masthead .col.middle { position: absolute;
													right: 0px;
													height: 92vh;
													top: 8vh;
													background-color: #4B4B4B;
													display: flex;
													flex-direction: column;
													align-items: center;
													width: 25%;
													transform: translateX(100%);
													transition: transform 0.5s ease-in;

													}
	#masthead .nav-main .menu { display: grid;
														  grid-template-rows: 10% 10% 10% 10% 10%;
														  grid-gap: 60px;
														  text-align: center;
														  list-style-type: none;
														  margin-top: 40px;
														 	padding: 0;}
	#masthead .nav-main .menu .menu-item { border: none; }
	#masthead .code { display: none; }
	#masthead .col.middle.approved { transform: translateX(0%); }

	#main .teams-page-container .division .two-team-division { display: inline-table; }
}

@media screen and (max-width: 995px) {

	#main .header { background-image: none; }

	#main .season-stats-table-container { display: table; padding-right: 3%; }

	#main .six-tables-container { margin: 3% 3% 3% 3%; grid-template-columns: 50% 50%; }

	#main .team-page-container .team-table-container { display: table; padding-right: 3%; }

	#main .playersearch-container { grid-template-columns: 25% 25% 25% 25%; }

	#main .hof-container .class-container .hof-player { display: grid; }
}

@media screen and (max-width: 780px) {
	#masthead .logo img { height: 45px; width: 200px;}
	#masthead .col.middle { width: 35%;}

	#main .six-tables-container { grid-template-columns: 100%; }
	#main .six-tables-container .season-leaders-table-container { padding-bottom: 25px; }

	#main .teams-page-container { display: inline-table; }
	#main .teams-page-container .teams-page-separator div { display: none; }
	#main .teams-page-container .nfc-container { margin-top: 0; margin-bottom: 0;}

	#main .playersearch-container { grid-template-columns: 33% 33% 33%; }

@media screen and (max-width: 500px) {
	#masthead .logo img { height: 40px; width: 190px;}
	#masthead .col.middle { width: 50%;}

	#main .six-tables-container .season-leaders-table-container .season-leaders-titles h1 { font-size: 15px; }

	#main .team-page-container .team-page-trio .team-page-info { padding-left: 5%; }
	#main .team-page-container .team-page-trio .team-page-info .team-name { font-size: 16px; }
	#main .team-page-container .team-page-trio .team-page-info .division-name { font-size: 16px; }

	#main .search-players { margin-bottom: 3%; }
	#main .playersearch-container { grid-template-columns: 50% 50%; font-size: 14px; }

	#main .hof-container img { height: 100px; width: 100px; }

}


/* -------------------- OLD STYLE SHEET ----------------------*/

/* Retired Profiles */
#main .pos-num .title { font-size: 15px; }
#main .pos-num .years { font-size: 15px; }



.retired-dotted-line {
  display: grid;
  justify-content: center;
  border-left: 2px dotted lightgrey;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: -26px;
}

.retired-box-h5 {
  padding-top: 5px;
  font-size: 20px;
}

.retired-season-box-heads {
  color: dimgrey;
  font-size: 18px;
}

.retired-season-box-data {
  font-size: 22px;
}

.name-yearsactive {
  display: grid;
  grid-template-rows: 13% 10% 86%;
}

.retired-teams {
  display: inline-block;
  text-align: center;
  margin-top: 5%;
  margin-left: -45px;
  font-size: 22px;
}

.retired-hof {
  margin-top: -3%;
  margin-bottom: 2%;
  display: grid;
  text-align: center;
  justify-content: center;
}

.retired-hof img {
  height: 105px;
  width: 95px;
}

.retired-hof h5 {
  font-size: 15px;
}

/* 404 */

.error-page {
  margin-left: 6%;
  padding-top: 3%;
}

.error-page h1 {
  font-size: 50px;
}

.error-page h5 {
  font-size: 25px;
}

.year-header {
  display: flex;
  font-size: 40px;
  justify-content: center;
  margin-top: -6.5%;
  margin-right: 3%;
}























































/**/
